/*Stylesheet for the header and buttons*/
header > ul{
    list-style-type: none;
    
    overflow: hidden;
    font-size: large;
    
}
header{
    box-sizing: border-box;
    background-color: rgb(137, 137, 224);
    width:100%;
    height:10vh;
}

/*Stylesheet for the visualizer*/
#output{
    
    box-sizing: border-box;
    background-color: blue;
    width:100%;
    height:90vh;
    position: absolute;
}
.rectangle{
    box-sizing: border-box;
    position: absolute;
    width:10%;
    height:70%;
    background-color: blueviolet;
    bottom:0;
}
