body, html{
    width:100%;
}
* {
    box-sizing: border-box;
    font-family: Arial;
    margin:0;
    padding:0;
    
}


/*Stylesheet for the header and buttons*/
header > ul{
    list-style-type: none;
    overflow: hidden;
    font-size: large;
    text-align: center;
}

header{
    box-sizing: border-box;
    background-color: rgb(137, 137, 224);
    width: 100%;
    height: 14%;
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    z-index: 1;
}
.container{
    text-align: center;
}
.btn{
    border: none;
    outline: none;
    border-radius: 10px;
    width: 200px;
    height: 25px;
    background: #2079b0;
    position: relative;
    z-index: 0;
    color: black;
    cursor: pointer;
}


/*Stylesheet for the visualizer*/
#output{
    
    box-sizing: border-box;
    background: black;
    width:100%;
    height:86%;
    position: absolute;
    bottom:0;
    margin-top: 100px;
    z-index: 0;
}
.rectangle{
    box-sizing: border-box;
    position: absolute;
    width:60px;
    height:70%;
    background-color: blueviolet;
    bottom:0;
}
