body, html{
    width:100%;
}
* {
    box-sizing: border-box;
    font-family: Arial;
    margin:0;
    padding:0;
    
}


/*Stylesheet for the header and buttons*/
header > ul{
    list-style-type: none;
    overflow: hidden;
    font-size: large;
    text-align: center;
}

header{
    box-sizing: border-box;
    background-color: rgb(137, 137, 224);
    width: 100%;
    height: 10%;
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
}
.container{
    text-align: center;
}
/*.btn{
    border: 1px solid #3498db;
    background:none;
    padding: 10px 20px;
    font-size:20px;
    font-family: "montserrat";
    cursor:pointer;
    margin:10px;
    color: #ffff;
    transition: 0.8s;
    position:relative;
    overflow: hidden;

}
.btn:hover{
    color: #3498db;
}
.btn::before{
    content:"";
    position: absolute;
    left: 0;
    width:100%;
    height:0%;
    background:#3498db;
    z-index: -1;
    transition: 0.8s;
    top:0;
    border-radius: 50% 50% 0 0;
    height:180%

}
.btn:hover::before{
    height: 0%;
}*/


/*Stylesheet for the visualizer*/
#output{
    
    box-sizing: border-box;
    
    width:100%;
    height:90%;
    position: absolute;
    bottom:0;
}
.rectangle{
    box-sizing: border-box;
    position: absolute;
    width:10%;
    height:70%;
    background-color: blueviolet;
    bottom:0;
}
